@using ServiceRadar.Application.Dtos;
@model WorkshopDto;

<h1>Create Car Workshop</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/Workshop/Create" method="post">
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Name">Name</label>
                <input class="form-control" type="text" asp-for="Name" />
                <span class="text-danger small" asp-validation-for="Name"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Description">Description</label>
                <input class="form-control" type="text" asp-for="Description" />
                <span class="text-danger small" asp-validation-for="Description"></span>

            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="About">About</label>
                <input class="form-control" type="text" asp-for="About" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="PhoneNumber">Phone Number</label>
                <input class="form-control" type="text" asp-for="PhoneNumber" />
                <span class="text-danger small" asp-validation-for="PhoneNumber"></span>

            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Street">Street</label>
                <input class="form-control" type="text" asp-for="Street" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="City">City</label>
                <input class="form-control" type="text" asp-for="City" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="PostalCode">Postal Code</label>
                <input class="form-control" type="text" asp-for="PostalCode" />
            </div>

            <div class="form-group mb-3">
                <input class="btn btn-primary" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>
