<h1>Create Car Workshop</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/Workshop/Create" method="post">
            <div class="form-group mb-3">
                <label class="control-label" for="Name">Name</label>
                <input class="form-control" type="text" id="Name" name="Name" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Description">Description</label>
                <input class="form-control" type="text" id="Description" name="Description" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="About">About</label>
                <input class="form-control" type="text" id="About" name="About" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="PhoneNumber">Phone Number</label>
                <input class="form-control" type="text" id="PhoneNumber" name="PhoneNumber" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Street">Street</label>
                <input class="form-control" type="text" id="Street" name="Street" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="City">City</label>
                <input class="form-control" type="text" id="City" name="City" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="PostalCode">Postal Code</label>
                <input class="form-control" type="text" id="PostalCode" name="PostalCode" />
            </div>

            <div class="form-group mb-3">
                <input class="btn btn-primary" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>
