<!-- Button trigger modal -->
<div class="fab-container">
    <div id="fab-button" class="fab shadow" data-bs-toggle="modal" data-bs-target="#infoAboutProject">
        <div class="fab-content">
            <span class="material-symbols-rounded">support_agent</span>
        </div>
    </div>
    <!-- Additional buttons expanded when hovering over FAB* -->
    @* <div class="sub-button shadow">
    <a href="google.com" target="_blank">
    <span class="material-symbols-rounded">phone</span>
    </a>
    </div>
    <div class="sub-button shadow">
    <a href="google.com" target="_blank">
    <span class="material-symbols-rounded">mail_outline</span>
    </a>
    </div>
    <div class="sub-button shadow">
    <a href="google.com" target="_blank">
    <span class="material-symbols-rounded">language</span>
    </a>
    </div>
    <div class="sub-button shadow">
    <a href="google.com" target="_blank">
    <span class="material-symbols-rounded">help_outline</span>
    </a>
    </div> *@
</div>

<!-- Modal -->
<div class="modal fade" id="infoAboutProject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="infoAboutProjectLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-lg-down modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <partial name="_InfoButtonModalContent.cshtml" />
        </div>
    </div>
</div>

